@import "../../css/resets&variables.css";
@import "../../css/game_style.css";

.container {
  justify-content: center;
}

.card {
  cursor: pointer;
  border: 1px solid var(--FCOLOR1);
  border-radius: 0.2rem;
}

.small {
  width: calc(25% - 0.2rem);
  height: calc(33.3% - 0.2rem);
}

.med {
  width: calc(25% - 0.2rem);
  height: calc(25% - 0.2rem);
}

.med-hide {
  display: none;
}

.large {
  width: calc(20% - 0.2rem);
  height: calc(25% - 0.2rem);
}

.top,
.bottom {
  width: 100%;
  height: 100%;
}
